body {
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0;
    }

    th, td {
        text-align: center;
        vertical-align: middle;


    }

    .container {
        padding-left: 12%;
        padding-top: 5vh;
        width: 80%;
    }

    .mb-3{
        margin-bottom: 1rem;
    }

    .mb-3 h2{
        margin-top: 5vh;
        max-width: 100%;
        width: auto;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }

    .custom-input, .buttons{
        max-width: 100%;
        width: auto;
        max-height: 15vh;
        height: auto;
    }
    .modal-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .active{
        color: black;
        font-weight: bold;
        border: none;
    }
    .pagination-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .pagination{
        display: inline-flex;
        gap: 5px;
    }

    .pagination button{
        padding: 5px 10px;
        border: 1px solid #ccc;
        background-color: white;
        cursor: pointer;
    }
    .pagination button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .filter-container {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
        background-color: #f8f9fa;
        border: 1px solid #e9ecef;
    }
    .filter-container .buttons {
        margin-left: auto;
    }
    .tr-style {
        white-space: nowrap;
    }

    select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 7%;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

    select:hover {
        border-color: #aaa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    select:focus {
        border-color: #66d9ef;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    select option {
        padding: 10px;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

    .form-label {
        margin-bottom: 10px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }


}
