table {
    margin-top: 20px;
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed; /* Define uma largura fixa para a tabela */
}

th, td {
    text-align: center;
    border: 1px solid #dee2e6;
    padding: 8px;
    font-size: 2.5em;
}

th {
    background-color: #d4edda;
    color: #333;
    font-weight: bold;
}

td {
    background-color: #f8f9fa;
    color: #333;
}

.room {
    width: 100%; /* Ajuste a largura conforme necessário */
}
